// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

// GLOBAL STYLES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

// VARIABLE FONTS
$Poppins: "Poppins",
san cursive;

$Ubuntu: "Ubuntu",
cursive;

// VARIABLE COLOR
$Color-Primary:#DF2E1C;

$Color-Menu: #F73620;

$Color-Hover: #000D1C;


// ALL SIMILAR CONTENT STYLING CODE
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

section {
    padding: 100px 0;
}

.about,
.services {
    font-family: $Poppins;

    .title {
        position: relative;
        font-family: $Ubuntu;
        text-align: center;
        font-size: 2.5em;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            width: 240px;
            height: 3px;
            bottom: 0px;
            left: 50%;
            background: $Color-Menu;
            transform: translateX(-50%);
        }

        &::after {
            position: absolute;
            bottom: -12px;
            left: 50%;
            padding: 5px;
            font-size: 20px;
            font-weight: bold;
            color: $Color-Primary;
            background: #fff;
            transform: translateX(-50%);
        }
    }
}

.about .about-content,
.services .serv-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}