// ----- MAIN STYLING -----
main {

    // HOME SECTION STYLING
    .home {
        display: flex;
        background: url("../assets/Banner/Banner_Mask.gif") no-repeat center;
        background-size: cover;
        height: 100vh;
        color: #fff;
        min-height: 500px;
        font-family: $Ubuntu;

        .max-width {
            margin: auto 0 auto 40px;

            .home-content {
                .text_1 {
                    font-size: 1.688em;
                }

                .text_2 {
                    font-size: 4.688em;
                    font-weight: 600;
                    margin-left: -3px;
                }

                .text_3 {
                    font-size: 2.5em;
                    margin: 5px 0;

                    span {
                        color: $Color-Primary;
                        font-weight: 500;
                    }
                }

                a {
                    display: inline-block;
                    background: $Color-Menu;
                    color: #fff;
                    font-size: 1.563em;
                    padding: 12px 36px;
                    margin-top: 20px;
                    border-radius: 6px;
                    border: 2px solid $Color-Menu;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $Color-Menu;
                        background: none;
                    }
                }
            }
        }
    }

    // HOME END

    // ABOUT SECTION STYLING
    .about {
        font-family: $Poppins;

        .title {
            position: relative;
            font-family: $Ubuntu;
            text-align: center;
            font-size: 2.5em;
            font-weight: 500;
            margin-bottom: 60px;
            padding-bottom: 20px;

            &::before {
                content: "";
                position: absolute;
                width: 240px;
                height: 3px;
                bottom: 0px;
                left: 50%;
                background: $Color-Menu;
                transform: translateX(-50%);
            }

            &::after {
                content: "Who I am";
                position: absolute;
                bottom: -12px;
                left: 50%;
                padding: 5px;
                font-size: 20px;
                font-weight: bold;
                color: $Color-Primary;
                background: #fff;
                transform: translateX(-50%);
            }
        }

        .about-content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            .left {
                width: 45%;

                img {
                    height: 400px;
                    width: 400px;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }

            .right {
                width: 55%;

                .text {
                    font-size: 1.5em;
                    font-weight: 600;
                    margin-bottom: 10px;

                    span {
                        color: $Color-Primary;
                    }
                }

                p {
                    text-align: justify;
                }

                a {
                    display: inline-block;
                    background: $Color-Menu;
                    color: #fff;
                    font-size: 1.25em;
                    font-weight: 500;
                    padding: 10px 30px;
                    margin-top: 20px;
                    border-radius: 6px;
                    border: 2px solid $Color-Menu;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $Color-Menu;
                        background: none;
                    }
                }
            }
        }
    }
}